<header>
    <div class="header flex">
        <div class="header-block">
            Home
        </div>
        <div class="header-block">
            About
        </div>
        <div class="header-block">
            Contact
        </div>
    </div>
</header>